.bg-container
    background-image: url("../../../public/img/hero-bg.jpg")
    background-size: cover
    height: 1000px
    background-position: top
    

    .navbar
        display: flex
        justify-content: space-around
        align-items: center
        padding: 20px 50px
        background-color: white
        align-content: flex-start

    .logo
        color: black
        letter-spacing: 1px

        .point
            font-weight: bold
            color: rgba(26,114,234,255)

    .nav-links a 
        color: black
        text-decoration: none
        margin-left: 25px
        font-size: 17px
        font-weight: normal
        letter-spacing: 1px
        transition: color 0.3s

        &:hover
            color: blue 
            font-weight: bold

    .started-section
        display: flex
        flex-direction: column
        align-items: flex-start
        text-align: center
        margin-top: 500px
        margin-left: 470px
      

    .title
        font-size: 3rem
        font-weight: bold
        margin-bottom: 10px

    .molengeek
        color: rgba(26,114,234,255)

    .projet
        font-size: 1.5rem
        line-height: 1.5
        margin-bottom: 20px
        color: rgba(104,104,106,255)
        font-weight: 500

    .button
        background-color: rgba(26,114,234,255)
        max-width: 200px
        color: #fff
        text-decoration: none
        padding: 10px 20px
        padding-left: 30px
        padding-right: 30px
        line-height: 1.7
        font-size: 1rem
        font-weight: bold
        border-radius: 8px
        transition: background-color 0.3s ease
        

        &:hover
            background-color: blue 

        

           
        